/* 
   Big J's Deep Dish Pizza 
   Filename: styles.css

   Author:   
   Date:     
   HTML5 and CSS3 Illustrated Unit K, Skills Review
 */

/* reset styles */
html {
   font-size: 19px;
}
a, article, body, div, fieldset, figcaption, figure, footer, form, header, h1, 
h2, h3, img, input, label, legend, li, nav, option, p, section, select, textarea, ul {
   border: 0;
   padding: 0;
   margin: 0;
}
img {
   max-width: 100%;
   height: auto;
   width: auto;
}
ul {
   list-style-type: none;
}

/* body and container */
body {
   font-family: Arial, Helvetica, sans-serif;
   background: rgb(153,102,51);
}
.outer-container {
   max-width: 960px;
   margin: 0 auto;
   border-left: 3px solid black;
   border-right: 3px solid black;
   background-color: #ffcc66;
   position: relative;
   overflow: auto;
}
.inner-container {
   width: 70%;
   float: right;
}
p {
   line-height: 1.4em;
}
a:link {
   color: black;
}
a:visited {
   color: #888;
}
a:active {
   position: relative;
   top: 1px;
   left: 1px;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   color: #34180f;
   background-color: snow;
   top: 0.4em;
   left: auto;
   right: 0.4em;
   z-index: 2;
   font-weight: bold;
   text-decoration: none;
}

/* header section */
header {
   padding-bottom: 0.4em;
}
h1 {
   text-align: center;
   font-family: "Playfair Display", "Times New Roman", Times, serif;
   font-size: 2.5em;
   font-weight: 900;
}

/* sidebar */
aside {
   width: 30%;
   float: left;
   position: relative;
}
.decorative-image {
   margin: 1%;
   padding: 2%;
   text-align: center;
}

/* site navigation */
nav.sitenavigation {
   background-color: rgb(0,0,0);
   text-align: center;
}
nav.sitenavigation li {
   padding: 0.3em 0;
   display: inline-block;
}
nav.sitenavigation li a {
   padding: 0.2em 0.6em;
   display: inline-block;
}
nav.sitenavigation a:link {
   text-decoration: none;
   color: snow;
}
nav.sitenavigation a:visited {
   color: #cccccc;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   color: #ff0000;
   background-color: snow;
}

/* main content */
article {
   margin: 0 auto;
   padding: 1em 1em 2em;
   border-left: 3px solid black;
   position: relative;
   overflow: auto;
   text-align: left;
   background-color: #e3d5ba;
}
h2 {
   padding-bottom: 0.25em;
   margin: 0;
   color: red;
   font-family: "Playfair Display", "Times New Roman", Times, serif;
   font-weight: 900;
   text-align: center;
   font-size: 1.75em;
}

/* form styles */
form {
   padding: 10px;
   background-color: #e3d5ba;
}
.form-instructions {
   color: red;
}

/* fieldset styles */
fieldset {
   margin-bottom: 0.8em;
}
legend {
   font-size: 1.25em;
}
.reserveinfo {
   position: relative;
}
.submitbutton {
   text-align: center;
}

/* field styles */
input, textarea {
   border: 1px solid #ccc;
   padding: 0.2em;
   font-size: 1em;
   display: block;
}
select {
   padding: 0.2em;
   margin-top: 0.2em;
   font-size: 1em;
}
.two-column select {
   display: block;
}
input, select {
   margin-bottom: 0.6em;
}
textarea {
   width: 25em;
   height: auto;
}
.contactinfo input {
   width: 25em;
}
.reserveinfo input {
   width: 5em;
}
#submit {
   border: none;
   border-bottom: 1px solid #666;
   border-right: 1px solid #777;
   padding: 0.4em 0.6em;
   margin: 0;
   display: inline-block;
   background-color: #ffcc66;
   font-size: 1.25em;
   border-radius: 10px;
}

/* label styles */
label, .reserveinfo p {
   font-size: 1em;
   line-height: 1.6em;
   font-weight: bold;
}
.contactinfo label, .reserveinfo label {
   margin: 0.8em 0;
}
.reserveinfo label {
   margin-bottom: 0.6em;
   display: block;
}
.date-picker label {
   position: absolute;
   left: -10000px;
}
.two-column {
   width: 50%;
   float: left;
}

/* footer section */
footer {
   padding: 0.5em 5%;
   background-color: black;
   color: white;
   text-align: right;
}
footer p.accent {
   margin-bottom: 0.4em;
   font-weight: bold;
}

/* small screen styles */
@media screen and (max-width: 700px) {
   .inner-container {
      width: 100%;
   }
   .contactinfo, .additionalinfo {
      width: 90%;
   }
   .contactinfo input, textarea {
      width: 100%;
   }
   .two-column {
      width: 100%;
      clear: left;
   }
}

/* print styles */
@media print {
   body, h2, article {
      color: rgb(0,0,0);
      background: rgb(255,255,255);
   }
   body {
      max-width: 100%;
   }
   nav {
      display: none;
   }
}
@page {
   margin: 0.75in;
}

