/* 
   Big J's Deep Dish Pizza 
   Filename: styles.css

   Author: Darryl Aho   
   Date: 02/27/21     
   HTML5 and CSS3 Illustrated Unit I, Skills Review
 */


/* reset styles */

html {
    font-size: 19px;
}

a,
article,
body,
div,
figcaption,
figure,
footer,
header,
h1,
h2,
h3,
img,
li,
nav,
p,
section,
ul {
    border: 0;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

ol,
ul {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* body and container */

body {
    margin: 0 auto;
    background: #ddd;
    background: url("images/brick.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #ffcc66;
    position: relative;
}

p {
    line-height: 1.4em;
}

a:link {
    color: white;
}

a:visited {
    color: #ccc;
}

a:active {
    position: relative;
    top: 1px;
    left: 1px;
}


/* skip navigation link */

p.skipnavigation a {
    position: absolute;
    left: -10000px;
}

p.skipnavigation a:focus {
    color: #34180f;
    background-color: snow;
    top: 0.4em;
    left: auto;
    right: 0.4em;
    z-index: 2;
    font-weight: bold;
    text-decoration: none;
}


/* header section */

header {
    padding: 0 0.4em 0.4em;
}

h1 {
    text-align: left;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-size: 2.5em;
    font-weight: 900;
}

p.decorative-image {
    display: none;
}


/* site navigation */

nav.sitenavigation {
    text-align: right;
    overflow: auto;
    right: 5px;
    top: 76px;
    z-index: 2;
    position: absolute;
}

nav.sitenavigation img {
    display: inline-block;
}

nav.sitenavigation ul {
    padding: 0 0.2em;
    background-color: rgb(0, 0, 0);
    display: none;
    position: relative;
    top: -6px;
}

nav.sitenavigation li {
    padding: 0.3em 0;
    text-align: left;
}

nav.sitenavigation li a {
    padding: 0.2em 0.6em;
    display: inline-block;
}

nav.sitenavigation a:link {
    text-decoration: none;
    color: snow;
}

nav.sitenavigation a:visited {
    color: #cccccc;
}

nav.sitenavigation a:hover,
nav.sitenavigation a:focus {
    color: #ff0000;
    background-color: snow;
}


/* main content */

article {
    margin: 0 auto;
    padding: 1em 1em 0;
    background-color: snow;
    position: relative;
    overflow: auto;
    text-align: center;
}

h2,
h3 {
    padding-bottom: 0.25em;
    margin: 0;
    color: red;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-weight: 900;
}

h2 {
    margin: 1.5em 0 0.5em;
    font-size: 1.1em;
    clear: both;
}

article p {
    margin-bottom: 0.5em;
}

article p#contentstart {
    color: red;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-weight: 900;
    font-size: 1.5em;
}

.publication {
    font-style: italic;
}

.accent {
    font-weight: bold;
}

.subsection {
    display: none;
}

.info img:last-child {
    display: none;
}

.locations p {
    line-height: 0.8em;
}


/* footer section */

footer {
    padding: 1em;
    background-color: black;
    color: white;
    text-align: center;
}


/* small screen/tablet styles */

@media screen and (min-width: 720px),
print {
    body {
        padding: 1em;
    }
    .container {
        border-radius: 2em;
    }
    h1 {
        font-size: 2.5em;
        line-height: 1.4em;
        text-align: center;
    }
    p.decorative-image {
        padding-top: 1em;
        width: 30%;
        float: left;
        display: inline;
    }
    .subsection {
        display: block;
    }
    footer {
        margin-left: 30%;
        border-bottom-right-radius: 2em;
    }
}


/* standard screen styles */

@media screen and (min-width: 1000px) {
    .info {
        margin-top: 1em;
        width: 65%;
        float: left;
    }
    .info img:last-child {
        display: inline;
    }
    .locations {
        width: 35%;
        float: right;
        text-align: right;
    }
    nav.sitenavigation {
        position: static;
        text-align: center;
    }
    nav.sitenavigation img {
        display: none;
    }
    nav.sitenavigation ul {
        display: block;
        position: static;
    }
    nav.sitenavigation li {
        display: inline-block;
    }
}


/* large screen styles */

@media screen and (min-width: 1238px) {
    body {
        width: 1200px;
    }
}


/* print styles */

@media print {
    body,
    h2,
    article {
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
    }
    body {
        max-width: 100%;
    }
    nav {
        display: none;
    }
}

@page {
    margin: 0.75in;
}